# used to controll which environment variables are used by the application. 
# Possible values: dev, test and prod
NODE_ENV=dev
DOCKER_HUB_USERNAME=fjeldberg

# this is the user credentials need to apply the backup, not an actual "backup user".
# TODO need to be created on the prod server
POSTGRES_BACKUP_USER=
POSTGRES_BACKUP_PASSWORD=

#------------------------------------------------------------------------------------
# [DEVELOPMENT ENVIRONMENT - START] 
#------------------------------------------------------------------------------------

# Session secret for development environment
SESSION_SECRET=69079fdb60fbea99b344eeeacf3545ec210ce13ac4f91dcb1c1d709cc5ab6350

# Control which databases are enabled
POSTGRES_ENABLED_DEV=true
MONGO_ENABLED_DEV=true
NEO4J_ENABLED_DEV=true

#------------------------------------------------------------------------------------
#[START] POSTGRES database connection details:

# prisma client only need a connection string. 
# The generic connection string, replace username and password and database with the values you wish to
#POSTGRES_DATABASE_URL=postgresql://USERNAME:PASSWORD@localhost:5432/DATABASE

# This is the connection string for root user access.
POSTGRES_DATABASE_URL_DEV=postgresql://postgres:postgres@localhost:5432/postgres

# credentials to run a local Postgres database using Docker:
POSTGRES_PORT_DEV=5432
POSTGRES_DB_DEV=postgres
DB_VOLUME_DEV=database_volume

# root ie. super admin
POSTGRES_ROOT_USER_DEV=postgres
POSTGRES_ROOT_PASSWORD_DEV=postgres

# Backup user (replication only)
POSTGRES_BACKUP_USER=backup_user
POSTGRES_BACKUP_USER_PASSWORD=strongpassword

# Application user (DML only)
POSTGRES_APP_USER=app_user
POSTGRES_APP_USER_PASSWORD=strongpassword

# Read-only user (SELECT only)
POSTGRES_READONLY_USER=readonly_user
POSTGRES_READONLY_PASSWORD=strongpassword

# Restricted user (SELECT, no users table)
POSTGRES_RESTRICTED_USER=restricted_user
POSTGRES_RESTRICTED_PASSWORD=strongpassword

#[END] POSTGRES database connection details:
#------------------------------------------------------------------------------------



#------------------------------------------------------------------------------------
#[START] MONGO database connection details:
# connection string pattern, replace credentials based on user
# MONGO_DB_URI_DEV=mongodb://{username}:{password}@localhost:{port}?authSource=admin&directConnection=true

MONGO_DB_URI_DEV=mongodb://admin:password@localhost:27018?authSource=admin&directConnection=true&retryWrites=true&w=majority

MONGO_DB_DEV=mongo

MONGO_ROOT_USER=admin
MONGO_ROOT_PASSWORD=password

MONGO_APP_USER=app_user
MONGO_APP_PASSWORD=password

# Role Backup user credentials
MONGO_BACKUP_USER=backup_agent
MONGO_BACKUP_PASSWORD=password

#[END] MONGO database connection details:
#------------------------------------------------------------------------------------



#------------------------------------------------------------------------------------
#[START] NEO4J database connection details:
NEO4J_URL_DEV="neo4j://localhost:7687"

NEO4J_ROOT_USERNAME_DEV="neo4j"
NEO4J_ROOT_PASSWORD_DEV="password"

NEO4J_USERNAME_DEV="neo4j"
NEO4J_PASSWORD_DEV="password"


NEO4J_DB_DEV="neo4j"         
#[END] NEO4J database connection details:
#------------------------------------------------------------------------------------

#------------------------------------------------------------------------------------
# [DEVELOPMENT ENVIRONMENT - END] 
#------------------------------------------------------------------------------------


















#------------------------------------------------------------------------------------
# [PRODUCTION ENVIRONMENT - START] 
#------------------------------------------------------------------------------------

# Control which databases are enabled
POSTGRES_ENABLED_PROD=true
MONGO_ENABLED_PROD=true
NEO4J_ENABLED_PROD=true

#------------------------------------------------------------------------------------
#[START] POSTGRES database connection details:
POSTGRES_DATABASE_URL_PROD=
POSTGRES_PORT_PROD=5432
POSTGRES_USER_PROD=postgres
POSTGRES_PASSWORD_PROD=postgres
POSTGRES_DB_PROD=postgres
#[END] POSTGRES database connection details:
#------------------------------------------------------------------------------------



#------------------------------------------------------------------------------------
#[START] MONGO database connection details:
MONGO_DB_URI_PROD=
MONGO_DB_PROD=
#[END] MONGO database connection details:
#------------------------------------------------------------------------------------



#------------------------------------------------------------------------------------
#[START] NEO4J database connection details:
NEO4J_URL_PROD=bolt://neo4j:7687

NEO4J_USERNAME_PROD=
NEO4J_PASSWORD_PROD=
NEO4J_DB_PROD=         
#[END] NEO4J database connection details:
#------------------------------------------------------------------------------------

#------------------------------------------------------------------------------------
# [PRODUCTION ENVIRONMENT - END] 
#------------------------------------------------------------------------------------
