/node_modules
.env
**generated

# normally should be ignored but this is a school project so yea..
# /database/postgres/backups/base/*
# /database/postgres/backups/wal_archives/*
# /database/mongo/backups/base/*
# /database/neo4j/backups/base/*